body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #6dd5fa, #2980b9); /* Блакитний градієнт */
    font-family: 'Arial', sans-serif;
    overflow: hidden; /* Щоб не було смуг прокрутки */
}

.card {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: float 3s ease-in-out infinite;
}

h1 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #666;
    margin-bottom: 30px;
    line-height: 1.5;
}

.btn {
    text-decoration: none;
    background-color: #66a6ff;
    color: white;
    padding: 12px 30px;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s; /* Плавна зміна кольору */
}

.btn:hover {
    background-color: #4a90e2;
    cursor: pointer;
}

@keyframes float {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, -60%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}